C:\Users\heler\codenation\data-science-0\.vscode
C:\Users\heler\codenation\data-science-0\.pytest_cache
C:\Users\heler\codenation\data-science-0\__pycache__

C:\Users\heler\codenation\coestatistica-1\.vscode

C:\Users\heler\codenation\codenation.exe
